@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1 class="text-lg-center" style="color:#07dca5">@ViewData["Title"]</h1>
<div>
    <div style="text-align:center">
        <section >
            <form id="account" method="post">
                <h2 style="color:#048c7d">Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
                <div class="form-floating" style="width:300px;display: table; margin: auto;margin-bottom:10px">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating" style="width:300px;display: table; margin: auto;margin-bottom:10px">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-300 btn btn-lg btn-primary" style="border-color:#048c7d;background-color:aquamarine;color:black;width:400px">Log in</button>
                </div>
                <div>
                    <p >
                        <a style="color:#0b6c92" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    
                </div>
            </form>
        </section>
    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
