@model OnHandFormModel

@{
    ViewData["Title"] = "Create On Hand Experience";
}

<h2 class="text-center" style="color:#048c7d">@ViewData["Title"]</h2>
<hr />

<partial name="_OnHandFormPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial">
}
