@model IEnumerable<SkillIndexServiceModel>
@inject ICreatorService creatorService

@{
    ViewData["Title"] = "Home Page";
    var skills = Model.ToList();
}

@if (!skills.Any())
{
    <div class="mt-4 p-5 bg-light">
        <h1 class="display-4">Welcome to the best place for learning skills!</h1>
        <p class="lead">
            There are no skills in the system currently available
            so why don't you just add one?
        </p>
        <hr class="my-4">
        <p class="lead">
            @if (User?.Identity?.IsAuthenticated ?? false && await creatorService.ExistsByIdAsync(User.Id()))
            {
                <a asp-controller="Skill" asp-action="Add" class="btn btn-primary btn-lg"
                   role="button">Add a Skill</a>
            }
        </p>
    </div>
}

<div class="mb-5"></div>

<h1 class="text-lg-center" style="color:#07dca5"><b>Welcome to SkillReceive </b></h1>

<p style="display: table; margin: auto;">The skill sharing system that help you learn all kinds of skills</p>
@if (User?.Identity?.IsAuthenticated ?? false && await creatorService.ExistsByIdAsync(User.Id()))
{
    <br />
    <p style="display: table; margin: auto;">Either join a course or create one</p>

}


<br />
<br />
<br />

<div class="mb-2" style="display: table; margin: auto;">Want to know more?</div>

<div class="row">
    <div class="col-12 text-center">
        <button style="border-color:#048c7d;background-color:aquamarine;color:black;" class=" btn btn-primary" id="statistics-button">Show Statistics</button>
    </div>
</div>

<div class="mt-4 p-5 bg-light d-none" id="statistics">
    <div class="row">
        <h2 style="display: table; margin: auto;" class="col-md-2 " id="total-skills"></h2>
        <h2 style="display: table; margin: auto;" class="col-md-2 " id="total-participants"></h2>
    </div>
</div>



@section Scripts {
    <script>
        $('#statistics-button').on('click', ev => {
            $.get('/api/statistic', data => {
                $('#total-skills').text(data.totalSkills + ' Skills have been created.');
                $('#total-participants').text(data.totalParticipants + ' People have already started learning.');
                $('#statistics').removeClass('d-none');
                $('#statistics-button').hide();

            });
        })
    </script>
}
