@model OnlineFormModel

@{
    ViewData["Title"] = "Create Online Course";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />


<partial name="_OnlineCourseFormPartial" model="@Model"/>

@section Scripts {
<partial name="_ValidationScriptsPartial">
}